In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [4]:
# baca data
df = pd.read_csv('insurance 2.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
new_labels_sex = {
    'male': 1,
    'female': 0
}

new_labels_smoker ={
    'yes' : 1,
    'no' : 0
}

new_labels_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

# Encode label
df['sex'] = df['sex'].map(new_labels_sex)
df['smoker'] = df['smoker'].map(new_labels_smoker)
df['region'] = df['region'].map(new_labels_region)


# Cek data
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [6]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# the independent variables set
X = df[['age', 'bmi', 'region','sex', 'smoker', 'children']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.588734
1       bmi  9.938670
2    region  2.789478
3       sex  2.002652
4    smoker  1.261195
5  children  1.799980

In [7]:
databaru = df.drop(df.columns[1], axis=1)
databaru = df.drop(df.columns[3], axis=1)
databaru = df.drop(df.columns[4], axis=1)
databaru.head()

   age  sex     bmi  children  region      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       2   1725.55230
2   28    1  33.000         3       2   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [8]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 6].values

In [9]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [10]:
y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [11]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [12]:
gabung = np.concatenate((ym_test, ym_pred))
gabung

array([ 1826.843     , 20177.67113   ,  7421.19455   ,  1877.9294    ,
       15518.18025   , 29523.1656    , 13143.86485   ,  3279.86855   ,
       18972.495     , 12950.0712    ,  8083.9198    , 18218.16139   ,
        8334.45755   ,  2727.3951    ,  7441.053     , 38711.        ,
       10338.9316    , 11552.904     ,  4751.07      , 11381.3254    ,
       10226.2842    ,  1526.312     ,  7222.78625   , 21259.37795   ,
       10848.1343    , 58571.07448   ,  3268.84665   , 48517.56315   ,
       21880.82      , 13457.9608    , 12592.5345    ,  2457.21115   ,
       47896.79135   , 33732.6867    ,  6600.361     , 14349.8544    ,
       18963.17192   , 39047.285     ,  3645.0894    , 30942.1918    ,
        7624.63      ,  7650.77375   ,  2498.4144    ,  4949.7587    ,
        2196.4732    ,  3972.9247    ,  4415.1588    ,  2362.22905   ,
       11272.33139   ,  5662.225     , 13405.3903    ,  8269.044     ,
        4915.05985   ,  7729.64575   ,  7045.499     , 11674.13      ,
       10085.846     , 37607.5277    ,  6313.759     , 20781.48892   ,
       24059.68019   ,  2741.948     , 18157.876     ,  8280.6227    ,
       11987.1682    ,  2690.1138    ,  2198.18985   ,  5246.047     ,
        4686.3887    , 45863.205     ,  9861.025     ,  5354.07465   ,
       12957.118     , 17361.7661    ,  8823.98575   ,  1708.0014    ,
       25992.82104   , 24180.9335    , 13352.0998    ,  9101.798     ,
        2639.0429    , 19214.70553   ,  7201.70085   ,  3392.3652    ,
       35069.37452   , 45008.9555    , 12146.971     , 40003.33225   ,
       17904.52705   ,  6334.34355   , 17043.3414    ,  8233.0975    ,
        9644.2525    ,  1252.407     , 37270.1512    ,  6282.235     ,
        8347.1643    ,  6196.448     , 19023.26      ,  4827.90495   ,
        5615.369     ,  2166.732     , 10141.1362    ,  8605.3615    ,
       39722.7462    , 12643.3778    , 35585.576     , 19798.05455   ,
       12574.049     ,  1981.5819    , 11187.6567    ,  5257.50795   ,
       11455.28      , 10965.446     , 22144.032     , 13974.45555   ,
        1909.52745   , 13831.1152    ,  8596.8278    ,  7623.518     ,
       20984.0936    , 12404.8791    , 14007.222     , 13112.6048    ,
        9722.7695    , 24915.22085   , 11353.2276    , 24671.66334   ,
        6640.54485   , 10355.641     ,  4189.1131    ,  6775.961     ,
        5031.26955   , 10713.644     ,  1391.5287    , 34806.4677    ,
       12094.478     , 36837.467     ,  6652.5288    ,  7742.1098    ,
       38344.566     ,  2494.022     , 34779.615     ,  7639.41745   ,
        6123.5688    ,  9140.951     , 12142.5786    ,  4040.55825   ,
        9964.06      ,  7682.67      , 12479.70895   ,  3558.62025   ,
        4883.866     , 10065.413     , 11454.0215    ,  9715.841     ,
       38746.3551    ,  9249.4952    , 11085.5868    , 18310.742     ,
        8944.1151    , 33750.2918    , 39241.442     , 10736.87075   ,
        3956.07145   , 11362.755     ,  1131.5066    ,  8116.26885   ,
       16069.08475   , 12644.589     , 47403.88      , 33907.548     ,
        4350.5144    , 32548.3405    ,  7512.267     , 13725.47184   ,
        2055.3249    , 32787.45859   , 14590.63205   ,  7323.734819  ,
       39725.51805   , 17085.2676    , 20149.3229    , 12949.1554    ,
        2902.9065    , 17352.6803    , 34672.1472    , 10825.2537    ,
        6389.37785   , 14692.66935   ,  1242.816     ,  9447.25035   ,
        2130.6759    ,  9500.57305   ,  4846.92015   ,  6414.178     ,
       46113.511     , 12829.4551    ,  9282.4806    , 12323.936     ,
        2867.1196    ,  5253.524     ,  1977.815     ,  7358.17565   ,
       48970.2476    , 60021.39897   , 10197.7722    , 26926.5144    ,
        2457.502     , 37701.8768    ,  9778.3472    ,  1986.9334    ,
       15817.9857    , 29141.3603    ,  7162.0122    ,  6113.23105   ,
       18806.14547   ,  5377.4578    ,  1824.2854    ,  2709.24395   ,
       12629.8967    , 14313.8463    ,  5584.3057    ,  7626.993     ,
        8601.3293    , 47462.894     ,  3989.841     ,  2045.68525   ,
       13607.36875   ,  5757.41345   , 10942.13205   , 40103.89      ,
       43921.1837    ,  8059.6791    ,  4500.33925   , 40974.1649    ,
        3171.6149    ,  6748.5912    , 13019.16105   ,  7147.105     ,
       14358.36437   ,  2150.469     ,  4906.40965   , 42211.1382    ,
        5002.7827    ,  7046.7222    ,  1639.5631    , 31620.00106   ,
        9788.8659    ,  3443.064     , 16796.41194   ,  5003.853     ,
        2855.43755   , 11244.3769    , 11396.9002    , 26125.67477   ,
        3866.8552    , 11070.535     , 36197.699     ,  6455.86265   ,
        2709.1119    , 38998.546     ,  7151.092     ,  1984.4533    ,
       14283.4594    , 14043.4767    ,  8825.086     , 12124.9924    ,
        4689.42103826,  4905.28903928,  8099.56041946,  3142.35074885,
       24350.21596218, 37012.54228078, 14879.03136799,  2816.24836763,
       29442.24795925, 15798.48312281, 15543.37213142,  5170.6615945 ,
       11213.3023501 ,  4359.26110812,  9747.72560354, 31772.24015618,
       12082.12512506, 13198.54468237,  7188.09181671, 18437.08085437,
       14448.68824873,  3182.01237676,  6522.71159554, 31489.62125921,
       13579.24098692, 32081.1334537 ,  6589.26529086, 39520.05256944,
       31363.26569483, 13809.85582819, 18527.24511094,  2484.28790412,
       39102.93361246, 26292.29449835,  8810.50676693, 11850.40029833,
        8466.27043252, 32532.19432316,  4163.63160792, 38422.01066766,
        8163.32683311, 12502.22552746,  5664.0555514 ,  8539.30003583,
         856.88812026,  5570.99589663,  5742.20712134,  3642.28649844,
        2305.71578664, 11238.00838848, 17512.61638865,  7857.9886182 ,
        5273.88036009,  8490.71643996,  7485.48642505, 14304.28991502,
       13614.55730304, 31039.05987887,  8401.13008224, 12884.35954225,
        3302.64126042,  3492.47424167,  5713.7826735 , 10460.42528385,
       14572.84557164,  2678.40693881,  1222.7869749 ,  8446.13172943,
       11753.20787552, 37050.26395488, 10017.28810289,  4433.05575792,
       11167.06693611, 27429.50548693, 11309.94670801,   985.41228828,
       11562.15840755, 33773.1030268 , 13586.48094752,  9350.39405766,
        2961.70889148,  9062.14582296,  7333.10050144,  4620.75866985,
       30825.70385356, 37478.96865123, 12859.42153788, 32961.12645296,
       28210.40584876,  9567.12558734, 26893.03492945,  9494.11851124,
        7110.76904934,  1615.34884003, 31027.0745253 ,  8273.53503694,
       12984.27662983, 10081.2011756 , 29969.93893709,  2854.76282015,
        5400.91551873,  4882.66852519, 11934.90484723,  7915.73716158,
       30318.68304404, 14059.11706452, 28229.34055088, 30387.52180852,
       17420.25160316,  4380.64800072, 12380.49717832,  5253.30156333,
       11989.67192767, 11827.84720699, 31867.2362434 , 14676.93687865,
        3093.4637934 , 17484.15636616, 11401.48368482,  7926.30733212,
       30564.4801589 ,  7857.23120922, 14954.4726051 , 11843.93530919,
       12298.34441807, 33955.93799832, 12712.55994954,  6230.39826004,
        4672.9955574 , 10173.61818603,  3765.90829057,  9264.92801106,
        6027.68578216, 13948.67346804,  3712.32373746, 28839.64477677,
       10934.11773158, 30259.27111777,  6289.90716149,  9086.38605829,
       29777.32301281,  4593.35741085, 27197.76621999, 10081.66387368,
        6844.97281465, 12415.70652619, 12057.66562068,  5416.1059565 ,
       12227.95367679, 10323.41006596, 11275.16699374,  3268.69867573,
        5687.10217773,  9259.32397249, 10686.71235852,  9939.76491346,
       31547.80651201, 10000.78724009, 11257.16498631, 27315.57941783,
       15154.88758796, 26210.02490477, 31951.80011055, 13846.27572615,
        5142.55507427, 14344.38407629,  2237.50525735, 10362.06240085,
       15990.27589873, 14680.38276544, 39241.86692916, 26538.30277775,
        5879.83635693, 25984.18891983,  9408.6158963 ,  6439.28437471,
        3611.62999505, 32659.82601421, 15310.81576944,  2067.16894715,
       33133.95739891, 25698.7265279 , 30277.99862618, 15248.43834495,
        4538.92803075, 25365.64293252, 28791.52576756, 13013.14009205,
        7137.97049037, 14972.77230039,  -428.94435595,  9925.71745751,
        2801.13526008,  9631.99948556,  6907.79628695,  7294.42671042,
       36693.31036231, 22965.93555783,  9784.31798642, 11619.15977111,
        4499.06933932,  7434.26235188,  3443.27332946,  9366.47521184,
       40280.60280184, 37137.83638711,  9298.9215444 , 35979.69066674,
        1442.29510368, 31046.1940104 , 11231.97349992,  5521.3043492 ,
       25491.15717377, 36473.47064619, 11631.55855748,  7332.04937546,
       11342.37708391,  8302.10324408,  4278.74729767,  1053.51759259,
       11683.23372038, 16132.01902431,  9227.69436304,  8666.99327269,
        9552.03036396, 39159.15435035,  9042.18394365,  1556.9671959 ,
       14401.16623892, 11641.73399689, 10114.76446305, 33594.77865971,
       36516.163657  ,  8777.52528106,  4012.75722091, 34496.2904199 ,
        5750.01634939,  8193.76421276, 14094.12110726,  7196.0881152 ,
        7604.67127206,  1416.25832332,  2883.23619428, 35603.23513849,
        5924.81701498,  7880.67898781,  2366.73811327, 16476.392637  ,
       10040.82674365,  5970.84375709,  5348.94594911,  6018.477173  ,
        4491.29216457, 11488.52234685, 14754.13511527, 24505.82101133,
        5303.17985953, 10717.48743852, 29727.77256919,  7534.5258484 ,
        1025.37152685, 33408.03739079,  8177.8638532 ,  5962.1938954 ,
       23292.87162468, 14480.58356084, 10472.55883455, 11440.91496201])

In [13]:
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.7936615729239531